:root{
    --green: rgb(238, 247, 199);
}
.all{
    color: black;
    background-color: var(--green);
    border: 1px solid black;
    display: flex;
    letter-spacing: 2px; 
    margin: 0;
    padding: 0;
}
#header {
    width: 892px;
    height: 40px;
    line-height: 30px;
    align-items: center;
}

#nav {
    width: 892px;
    height: 30px;
    line-height: 30px;
    align-items: center;

}

#section {
    width: 600px;
    height: 200px;
    line-height: 30px;
    float: left;
}
#article {
    width: 500px;
    height: 70px;
    line-height: 30px;
    float: left;
    letter-spacing: 1px; 
    margin-left: 20px;
    margin-top: -170px;
    border: 1px solid black;
    background-color: rgb(236, 226, 207);
}

#article2 {
    width: 500px;
    height: 70px;
    line-height: 30px;
    float: left;
    letter-spacing: 1px; 
    margin-left: 20px;
    margin-top: -100px;
    border: 1px solid black;
    background-color: rgb(212, 179, 107);
}

#footer {
    width: 892px;
    height: 40px;
    line-height: 30px;
    align-items: center;
}

#aside {
    width: 290px;
    height: 200px;
    line-height: 30px;
    float: right;
    margin-top: -202px;
   
}
